* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: purple;
  color: white;
  padding: 10px;

  width: 1rem;
  height: 10ch;
}
/* Absolute lengths */

/* width: 10cm;
  height: 10cm; */
/* width: 10mm;
  height: 10mm; */
/* width: 10in; === 2.54cm
  height: 10in; */
/* width: 10px;
  height: 10px; */
/* width: 10pt;
  height: 10pt; */
/* width: 10pc;
  height: 10pc; */

/* Relative lengths */
/* width: 10em;
  height: 10em; */
/* width: 10ex;
  height: 10ex; */
/* width: 10ch;
  height: 10ch; */
/* width: 10rem;
  height: 10rem; */
/* width: 10vw;
  height: 10vw; */
/* width: 10vh;
  height: 10vh; */
/* width: 10vmin;
  height: 10vmin; */
/* width: 10vmax;
  height: 10vmax; */
/* width: 10%;
  height: 10%; */
