p {
  color: red;
  text-align: center;
}

#elementID {
  color: rgb(255, 157, 0);
  text-align: center;
}

.elementClass {
  color: rgb(98, 255, 0);
  text-align: center;
}

p.elementClass {
  color: rgb(0, 255, 242);
  text-align: center;
}

h1 {
  color: rgb(166, 0, 255);
  text-align: center;
}

h2 {
  color: rgb(255, 0, 81);
  text-align: center;
}

p {
  color: rgb(181, 194, 10);
  text-align: center;
}

h1,
h2,
p {
  color: rgb(11, 89, 141);
  text-align: center;
}

* {
  color: rgb(0, 34, 255);
  text-align: center;
}
