.square {
  background-color: red;
  width: 200px;
  height: 200px;
  transition: width 2s;
}

.square:hover {
  width: 300px
}

/* transition: transition-property, transition-duration, 
transition-timing-function // DEFAULT ease - transition-delay */

/* transition: margin-right 2s; */
/* transition: margin-right 2s .5s; */
/* transition: margin-right 2s ease-in-out; */
/* transition: margin-right 2s ease-in-out .5s; */
/* transition: margin-right 2s, color 1s; */
/* transition: all 1s ease-out; */