div {
  width: 400px;
  height: 400px;
  opacity: 1;
  background-color: red;
  background-image: url("/Course\ Assets/paris.jpg");

  /* background-repeat: no-repeat; */
  /* repeat, repeat-x, repeat-y, no-repeat */

  /* background-position: center; */
  /* top left; top right; center top, 100px 100px */

  background-attachment: fixed;
  background-image: linear-gradient(to right,
      red 20%,
      orange 20% 40%,
      yellow 40% 60%,
      green 60% 80%,
      blue 80%);
  /* background-image: linear-gradient(red, green  40%, blue); */
  /* background-image: radial-gradient(red, green, blue); */
}

img {
  border-radius: 10px;
  border: 2px solid red;
  max-width: 100%;
  height: auto;
  opacity: 1;
  /*filter: blur(4px);
   filter: brightness(100%);
  filter: contrast(100%); */



}