p {
  color: blue;
  /* text-align: center; */
  /* text-align-last: right; */
  /* direction: rtl; */

  /* vertical-align: middle; */
  /* element */


  /* text-decoration-line: overline; */
  /* line-through; underline; overline underline; */

  /* text-decoration-color: red;
  text-decoration-style: solid; */
  /* solid; dotted; dashed; */

  /* text-decoration-thickness: 5px; */

  /* text-decoration: underline red double 5px; */
  /* shorthand */


  /* text-transform: lowercase; */
  /* uppercase; lowercase; capitalize; */

  /* text-indent: 50px; */
  /* letter-spacing: 5px;
  line-height: 0.8;
  word-spacing: 10px; */


  /* text-shadow: 2px 2px; */
  /* text-shadow: 2px 2px red; */
  /*  text-shadow: 2px 2px 5px red; */
  /* dispalce, displace, blur, color */

}